body {
  margin: 0;
  padding: 0;
  font-family: arial;
}


.logo img{
  margin: 10px;
  width: 10%;
  height: 10%;
}

ul {
  list-style-type: none;
  float: left;
  width: 100%;
}

.navBar{
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: auto;
  border-bottom: solid 2px #d77321;
}

.menu{
  position: absolute;
  right:0;
  top: 5%;
}

a.icon{
  display: none;
}

.menuList  li{
  display: inline;
  width: 100%;
}

.menuList li a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.test{
  height: 800px;
  width: 100%;
  border-bottom: solid 2px #d77321;
}

a{
  color: #000;
}

a:hover {
  font-weight: bold;
}

footer{
  width: 90%;
  margin: 0 auto;
}
.aabningstider{
  float: left;
  /*padding: 0px 10% 0px 0%; */
  width: 25%;
}
.kontakt {
  float:left;
/*  padding: 0px 10% 0px 10%; */
  width: 25%;
}
.sitemap {
  float: left;
  /* padding: 0px 5% 0px 10%; */
  width: 25%;
}
.socialLinks {
  float:left;
/*  padding: 0px 0% 0px 15%; */
  width: 25%;
}



#facebook i {
  color: #3B5998;
  padding-bottom: 5px;
}

.facebookLink {
  position: absolute;
  margin-left: 30px;
  margin-top: -24px;
}

#instagram {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  border-radius: 18%;
  float: left;
  width: 26px;
  height: 25px;
  position: absolute;

}

#instagram i{
  color: #fff;
}

.fa-instagram:before {
margin-top: -18px;
margin-left: -0.5px;
position: absolute;
color: #dedede;
}

.instagramLink {
  position: absolute;
  margin-left: 30px;
  margin-top: 8px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait),
       screen and (max-device-width: 740px) and (orientation: landscape),
       screen and (max-width:740px)
{
    .logo img{
      width: auto;
      height: auto;
      max-height: 26px;
    }

    .menu a{
      display: none;
    }
    a.icon{
      display: block;
      right: 0;
      top: 0;
      position: fixed;
      border-bottom: solid 2px #d77321;
      padding: 14px 16px;
    }
    .navBar{
      height: auto;
    }
    .navBar a:not(:first-child) {
      display: none;
    }
      .navBar a.icon {
      display: block;
      float: right;
      text-decoration: none;
      background-color: #d77321;
      color: #fff;
    }
      .navBar.responsive {
      position: fixed;
    }
      .navBar.responsive a.icon {
      right: 0;
      top: 0;
      position: fixed;
    }

    .navBar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    ul.menuList{
      background-color: #fff;
      right: 0;
      top: 30px;
      width: 100%;
      max-width: 100%;
      position: fixed;
    }

    ul{
      padding-left: 0;
    }
    .footerSection{
      padding: 0;
      width: 90%;
      padding: 10px;
    }
    .aabningstider{
      float:none;
      width: 100%;
      padding: 10px;
    }
    .kontakt{
      float: none;
      width: 100%;
      padding: 10px;
    }
    .sitemap{
      float:none;
      width: 100%;
      padding: 10px;
    }
    .socialLinks{
      float: none;
      width: 100%;
      padding: 10px;
    }


}
