body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color:  #fffffd;

}

/* FUCK GItHUB */

/* Katalog.html starts */
#katalogPic {
  height: 50vw;
  width: 100%;

}

#row1_2 {
  float: left;
  width: 33.3%;
  padding-bottom: 2%;
  border-bottom: solid 4px #c2c1c0;
  padding-top: 1%;
}

#row3_4 {
  float: left;
  width: 33.3%;
  padding-bottom: 2%;
  border-bottom: solid 4px #c2c1c0;
  padding-top: 1%;
}

#row5_6 {
  float: left;
  width: 33.3%;
  padding-bottom: 2%;
  border-bottom: solid 4px #c2c1c0;
  padding-top: 1%;
}

.pic_1_holder, .pic_2_holder, .pic_3_holder, .pic_4_holder, .pic_5_holder, .pic_6_holder {
  float: left;
  padding-top: 17%;
  padding-left: 5%;
}

#pic_1_h3, #pic_2_h3, #pic_3_h3 , #pic_4_h3 , #pic_5_h3 , #pic_6_h3 {
  width: 20%;
  float: left;
  padding-left: 6%;
  color: #4b453d;
}

.pic_1_holder img, .pic_2_holder img, .pic_3_holder img, .pic_4_holder img, .pic_5_holder img, .pic_6_holder img {
  border: solid 3px #5e5e5b;
  border-radius: 50%;
  height: 18vw;
  width: 58%;
  float: left;
}

#pic_1_tekst, #pic_2_tekst, #pic_3_tekst, #pic_4_tekst, #pic_5_tekst, #pic_6_tekst {
  width: 35%;
  height: 20%;
  float: right;
  padding-left: 2%;
  color: #4b453d;
}

/* Katalog.html ends */

.logo img{
  margin: 10px;
  width: 10%;
  height: 10%;
  z-index: 1;
}

ul {
  list-style-type: none;
  float: left;
  width: 100%;
}

.navBar{
  position: fixed;
  width: 100%;
  background-color: #4b453d;
  height: auto;
  border-bottom: solid 4px #c2c1c0;
  z-index: 1;
}

.menu{
  position: absolute;
  right:0;
  top: 5%;
}

a.icon{
  display: none;
}

.menuList  li{
  display: inline;
  width: 100%;

}

.menuList li a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}

.sliderWrapper{
  height: 80vh;
}

 .mySlides{
  max-width: 100%;
  max-height: 81vh;
  display: block;
  width: auto;
  height: auto;
  border-bottom: solid 4px #c2c1c0;
}

.w3-container{
  margin: 0 auto;
  z-index: 1;
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}

.w3-badge, .w3-tag{
  padding: 5px;
  position: relative;
  padding-top: 10px;
  top: -25px;
  left: 50%;
}

a{
  color: #000;
}

a:hover {
  font-weight: bold;
}
.kontaktSec{
  width: 100%;
  padding-bottom: 2vh;
  border-bottom: solid 4px #c2c1c0;

}

.kontaktHolder{
  width: 50%;
  height: auto;
  min-height: 100%;
  padding-left: 25vw;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
}


#KontaktH1{
  padding-top: 10vh;
  font-size: 30px;
  text-align: center;
}

.aabenTxt{
  float: left;
  width: 30%;
}

.seoTxt{
  float:left;
  width: 30%;
}

.kontaktTxt{
  float: left;
  width: 30%;
}
.gmaps {
  width: 100%;
  height: 40vh;
  z-index: 1;
}

#gmap_canvas{
  z-index: 0;
  width: 100%;
  padding-top: 50vh;
  position: relative;
}
footer{
  clear: both;
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  background-color: #4b453d;
}

.aabningstider{
  float: left;
  width: 20%;
  padding-left: 2%;
  color: #fff;
}
.kontakt {
  float:left;
  width: 20%;
  padding-left: 2%;
  color: #fff;
}
.sitemap {
  float: left;
  width: 20%;
  padding-left: 2%;
}
.sitemap li a, .sitemap li {
  color: #fff;
}
.socialLinks {
  float:left;
  width: 20%;
  padding-left: 2%;
  color: #fff;
}

.socialLinks li a{
  color: #fff;
}

#facebook i {
  color: #fff;
  padding-bottom: 5px;
}

.facebookLink {
  position: absolute;
  margin-left: 30px;
  margin-top: -24px;
  color: #fff;
}

#instagram {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  border-radius: 18%;
  float: left;
  width: 26px;
  height: 25px;
  position: absolute;

}

#instagram i{
  color: #fff;
}

.fa-instagram:before {
  margin-top: -18px;
  margin-left: -0.5px;
  position: absolute;
  color: #dedede;
}

.instagramLink {
  position: absolute;
  margin-left: 30px;
  margin-top: 8px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait),
       screen and (max-device-width: 740px) and (orientation: landscape),
       screen and (max-width:740px)
{

  footer {
    height: 140vh;
  }

    .logo img{
      width: auto;
      height: auto;
      max-height: 26px;
    }

    .menu a{
      display: none;
    }

    a.icon{
      display: block;
      right: 0;
      top: 0;
      position: fixed;
      padding: 14px 16px;
    }
    .navBar{
      height: auto;
    }
    .navBar a:not(:first-child) {
      display: none;
    }
      .navBar a.icon {
      display: block;
      float: right;
      text-decoration: none;
      background-color: #5e5e5b;
      color: #fff;
    }
      .navBar.responsive {
      position: fixed;
    }
      .navBar.responsive a.icon {
      right: 0;
      top: 0;
      position: fixed;
    }

    .navBar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    ul.menuList{
      background-color: #fff;
      right: 0;
      top: 30px;
      width: 100%;
      max-width: 100%;
      position: fixed;
    }

    .menuList li a {
      color: black;
    }

    ul{
      padding-left: 0;
      width: 100%;
    }
    .sliderWrapper{
      height: auto;
      width: auto;
    }
    .mySlides{
      height: auto;
      width: auto;
      max-height: 100%;
      min-height: 100%;
    }

    .w3-container{
      display: none;
    }

    .seoTxt{
      float: none;
      text-align: center;
      padding: 10px;
      width: 90vw;
    }

    .kontaktTxt{
      display: none;
    }

    .aabenTxt{
      display: none;
    }

    .aabningstider{
      float:none;
      width: 90%;
      padding: 10px;
    }
    .kontakt{
      float: none;
      width: 90%;
      padding: 10px;
    }
    .sitemap{
      float:none;
      width: 90%;
      padding: 10px;
    }
    .socialLinks{
      float: none;
      width: 90%;
      padding: 10px;
    }

    .socialLinks h2{
      width: 90%;
    }

    .socialLinks ul{
      width: 90%;
    }

/* Katalog.html starts */
#katalogPic {
  height: 100%;
  padding-bottom: 30vh;
  margin: 0 auto;
  width: 100%;
}

/* Picture 1 Responsive */
.pic_1_holder {
  float: none;
  height: 50vh;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  margin-right: 0%;
  padding-top: 20%;
  padding-left: 4%;
}

.pic_2_holder, .pic_3_holder, .pic_4_holder, .pic_5_holder, .pic_6_holder {
  float: none;
  height: 50vh;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  margin-right: 0%;
  padding-top: 70%;
  right: 0;
  padding-left: 4%;
}

#pic_1_h3, #pic_2_h3, #pic_3_h3, #pic_4_h3, #pic_5_h3, #pic_6_h3 {
  float: none;
  padding-top: 1%;
  padding-left: 45%;
  right: 0;
  margin: 0;
}

#pic_1_tekst, #pic_2_tekst, #pic_3_tekst, #pic_4_tekst, #pic_5_tekst, #pic_6_tekst {
  float: none;
  width: 90%;
  right: 0;
  margin: 0;
  padding-left: 8%;

}

.pic_1_holder img, .pic_2_holder img, .pic_3_holder img, .pic_4_holder img, .pic_5_holder img, .pic_6_holder img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  float: none;
  right: 0;
  margin: 0;


}

#row1_2, #row3_4, #row5_6 {
  float: none;
  width: 100%;
  border-bottom: none;
}

/* Katalog.html ends
}

@media screen and (min-device-width: 1024px) and (orientation: portrait),
       screen and (min-device-height: 1366px) and (orientation: landscape),
       screen and (max-width:1024px)
{
  #row1_2 {
    float: left;
    width: 33.3%;
    padding-bottom: 2%;
    border-bottom: solid 4px #D77321;
    padding-top: 1%;
  }

  #row3_4 {
    float: left;
    width: 33.3%;
    padding-bottom: 2%;
    border-bottom: solid 4px #D77321;
    padding-top: 1%;
  }

  #row5_6 {
    float: left;
    width: 33.3%;
    padding-bottom: 2%;
    border-bottom: solid 4px #D77321;
    padding-top: 1%;
  }

  .pic_1_holder, .pic_2_holder, .pic_3_holder, .pic_4_holder, .pic_5_holder, .pic_6_holder {
    float: left;
    padding-top: 23%;
    padding-left: 5%;
  }

  #pic_1_h3, #pic_2_h3, #pic_3_h3 , #pic_4_h3 , #pic_5_h3 , #pic_6_h3 {
    width: 20%;
    float: left;
    padding-right: 17%;
    padding-left: 22%;
    padding-top: 2%;
  }

  .pic_1_holder img, .pic_2_holder img, .pic_3_holder img, .pic_4_holder img, .pic_5_holder img, .pic_6_holder img {
    border: solid 3px #D77321;
    border-radius: 50%;
    height: 18vw;
    width: 58%;
    float: left;
  }

  #pic_1_tekst, #pic_2_tekst, #pic_3_tekst, #pic_4_tekst, #pic_5_tekst, #pic_6_tekst {
    width: 61%;
    height: 20%;
    float: right;
    padding-bottom: 0%;
    padding-right: 36%;
  }*/

}
