
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto');

html{
  height: 100%;
  background-color:  #4b453d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fffffd;
  height: 100%;
}
h1, h2, h3{
  font-family: 'Josefin Sans', sans-serif;
}
/* Katalog.html starts */
#katalogPic {
  min-height: 980px;
  height: 100%;
  width: 100%;
  background-color: #fffffd;
  padding-top: 5%;
}

#row1_3_5, #row_2_4_6 {
  width: 100%;
  float: left;
}

#row_2_4_6 {
  padding-bottom: 5%;
}

.pic_1_holder, .pic_2_holder, .pic_3_holder, .pic_4_holder, .pic_5_holder, .pic_6_holder{
  width: 20%;
  height: 20%;
  float: left;
  padding: 0 5% 0 7%;

}

.pic_1_holder img, .pic_2_holder img, .pic_3_holder img, .pic_4_holder img, .pic_5_holder img, .pic_6_holder img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  border: solid 4px #5e5e5b;
  min-height: 250px;
  margin: 0 auto;
	display: block;
}

#pic_1_h3, #pic_2_h3, #pic_3_h3, #pic_4_h3, #pic_5_h3, #pic_6_h3 {
  text-align: center;

}

#pic_1_tekst, #pic_2_tekst, #pic_3_tekst, #pic_4_tekst, #pic_5_tekst, #pic_6_tekst {
  text-align: center;

}

/* katalog.html ends */

/* OmOs.html starts */
.omOs_section {
  height: 130%;
  min-height: 1150px;
  width: 100%;
  background-color: #fffffd;
}

#seo_omOs {
  width: 100%;
  clear: both;
  padding-top: 4%;
}

#om_seo_title {
  text-align: center;
  color: #4b453d;
}

#om_seo_p {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  columns: 100px 2;
  line-height: 25px;
  width: 55%;
  text-align: justify;
  margin: 0 auto;
  columns: 2;
  column-gap: 35px;
  color: #4b453d;
}


#staff_row {
  width: 60%;
  height: 50%;
  padding-left: 20%;
  padding-top: 5%;
}

.rikke {
  width: 50%;
  height: 50%;
  float: left;
  margin: 0 auto;
}

.elisabeth {
  width: 50%;
  height: 50%;
  float: left;
  margin: 0 auto;
}

.rikke img, .elisabeth img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: solid 4px #5e5e5b;
  min-height: 350px;
  margin: 0 auto;
	display: block;
}

.rikke h3, .elisabeth h3 {
  width: 70%;
  color: #4b453d;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
}

.rikke p, .elisabeth p {
  width: 80%;
  height: 20%;
  margin: 0 auto;
  color: #4b453d;
  padding-top: 5%;
}


/* OmOs.html ends */

.logo img{
  margin: 10px;
  width: 10%;
  height: 10%;
  z-index: 1;
}

ul {
  list-style-type: none;
  float: left;
  width: 100%;
}

.navBar{
  position: fixed;
  width: 100%;
  background-color: #4b453d;
  height: auto;
  border-bottom: solid 4px #c2c1c0;
  z-index: 1;
}

.menu{
  position: absolute;
  right:0;
  top: 5%;
}

a.icon{
  display: none;
}

.menuList  li{
  display: inline;
  width: 100%;
  font-family: 'Josefin sans';
}

.menuList li a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}

.sliderWrapper{
  height: 80vh;
  background-color: #4b453d;
}

 .mySlides{
  max-width: 100%;
  max-height: 80vh;
  display: block;
  width: auto;
  height: auto;
}

.w3-container{
  margin: 0 auto;
  z-index: 1;
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}

.w3-badge, .w3-tag{
  padding: 5px;
  position: relative;
  padding-top: 10px;
  top: -25px;
  left: 50%;
}

a{
  color: #000;
}

a:hover {
  font-weight: bold;
}
.kontaktSec{
  width: 100%;
  padding-bottom: 2vh;
  background-color: #fffffd;
}

.kontaktHolder{
  width: 50%;
  height: auto;
  min-height: 100%;
  padding-left: 25%;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
}

#KontaktH1{
  padding-top: 10vh;
  font-size: 30px;
  text-align: center;
}

.aabenTxt{
  float: left;
  width: 30%;
}

.seoTxt{
  float:left;
  width: 30%;
}

.kontaktTxt{
  float: left;
  width: 30%;
}
.gmaps {
  width: 100%;
  height: 40vh;
  z-index: 1;
}

#gmap_canvas{
  z-index: 0;
  width: 100%;
  padding-top: 50vh;
  position: relative;
}
footer{
  clear: both;
  height: 25%;
  z-index: 0;
  position: relative;
  background-color: #4b453d;
  padding-left: 8%;
  border-top: solid 4px #c2c1c0;
}

.aabningstider, .kontakt , .sitemap, .socialLinks, .seoFooter{
  float: left;
  width: 18.5%;
  height: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}

.seoFooter{
  padding-right: 2%;
}

#footerH2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.sitemap li a, .sitemap li {
  color: #fff;
}

.socialLinks li a{
  color: #fff;
}

.seoFooter ul{
 width: 90%;
}

#facebook i {
  color: #fff;
  padding-bottom: 5px;
}

.facebookLink {
  position: absolute;
  margin-left: 30px;
  margin-top: -24px;
  color: #fff;
}

#instagram {
/*  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);*/
  border-radius: 18%;
  float: left;
  width: 26px;
  height: 25px;
  position: absolute;
}

#instagram i{
  color: #fff;
}

.fa-instagram:before {
  margin-top: -18px;
  margin-left: -0.5px;
  position: absolute;
  color: #dedede;
}

.instagramLink {
  position: absolute;
  margin-left: 30px;
  margin-top: 8px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait),
       screen and (max-device-width: 740px) and (orientation: landscape),
       screen and (max-width:1024px)

{

    .logo img{
      width: auto;
      height: auto;
      max-height: 26px;
    }

    .menu a{
      display: none;
    }

    a.icon{
      display: block;
      right: 0;
      top: 0;
      position: fixed;
      padding: 14px 16px;
    }
    .navBar{
      height: auto;
    }
    .navBar a:not(:first-child) {
      display: none;
    }
      .navBar a.icon {
      display: block;
      float: right;
      text-decoration: none;
      background-color: #5e5e5b;
      color: #fff;
    }
      .navBar.responsive {
      position: fixed;
    }
      .navBar.responsive a.icon {
      right: 0;
      top: 0;
      position: fixed;
    }

    .navBar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    ul.menuList{
      background-color: #fff;
      right: 0;
      top: 40px;
      width: 100%;
      max-width: 100%;
      position: fixed;
    }

    .menuList li a {
      color: #5e5e5b;
    }

    ul{
      padding-left: 0;
      width: 100%;
    }
    .sliderWrapper{
      height: auto;
      width: auto;
    }
    .mySlides{
      height: auto;
      width: auto;
      max-height: 100%;
      min-height: 100%;
    }

    .w3-container{
      display: none;
    }

    .seoTxt{
      float: none;
      text-align: center;
      padding: 10px;
      width: 90vw;
    }

    .kontaktTxt{
      display: none;
    }

    .aabenTxt{
      display: none;
    }

    .aabningstider , .kontakt, .sitemap, .socialLinks, .seoFooter{
      float:none;
      width: 100%;
      height: 10%;
    }
    .seoFooter{
      width: 70%;
    }

    .socialLinks h2{
      width: 90%;
    }

    .socialLinks ul{
      width: 90%;
    }

/* Katalog.html starts */
#katalogPic {
  height: auto;
  width: 100%;
  float: none;
  min-height: 1000px;

}

/* Picture 1 Responsive */

#row1_3_5, #row_2_4_6 {
  width: 100%;
  float: none;
}


.pic_1_holder{
  float: none;
  width: 90%;
  padding-bottom: 5%;
  padding-top: 5%;
  padding: 5% 0% 5% 5%;
}

.pic_2_holder, .pic_3_holder, .pic_4_holder, .pic_5_holder, .pic_6_holder{
  float: none;
  width: 90%;
  padding: 0% 0% 5% 5%;
}

.pic_1_holder img, .pic_2_holder img, .pic_3_holder img, .pic_4_holder img, .pic_5_holder img, .pic_6_holder img {

}

#pic_1_h3, #pic_2_h3, #pic_3_h3, #pic_4_h3, #pic_5_h3, #pic_6_h3 {
  text-align: center;
}


#pic_1_tekst, #pic_2_tekst, #pic_3_tekst, #pic_4_tekst, #pic_5_tekst, #pic_6_tekst {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

#row1_2, #row3_4, #row5_6 {
  float: left;
  width: 100%;

}

/* katalog.html end */

/* OmOs.html starts */

.omOs_section {
  height: auto;
  width: 100%;
  min-height: 2500px;
}

#seo_omOs {
  border-bottom: none;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  clear: both;
  border-bottom: solid 4px #c2c1c0;
}

#om_seo_title {
  text-align: center;
}

#om_seo_p {
  height: 20%;
  padding-left: 2%;
  padding-bottom: 5%;
  color: #4b453d;
  float: none;
  width: 80%;
  padding-left: 7%;
  columns: 1;
  column-gap: 5px;
}

#staff_row {
  width: 90%;
  height: 50%;
  padding-left: 0%;
  padding-top: 0%;
  margin: 0 auto;
}

.rikke {
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
}

.elisabeth {
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
}

.rikke img, .elisabeth img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 4px #5e5e5b;
  min-height: 250px;
  margin: 0 auto;
  display: block;
}

.rikke h3, .elisabeth h3 {
  width: 100%;
  color: #4b453d;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
}

.rikke p, .elisabeth p {
  width: 60%;
  height: 20%;
  margin: 0 auto;
  color: #4b453d;
  padding-top: 3%;
  text-align: center;
}

/*

#rowOm1 , #rowOm2{
  width: 100%;

}
.rikke_pic, .elisabeth_pic {
  float: none;
  height: 100%;
  width: 90%;
  padding-left: 5%;
}


.elisabeth_pic {
  padding-bottom: 50%;
}

#profil_tekst{
  padding-left: 21%;
  padding-top: 2%;
  column-count: 2;
  float: left;
  width: 50%;
  margin: 0 auto;

}

#elisabeth_h3, #rikke_h3 {
  width: 90%;
  text-align: center;
  padding-left: 6%;
  color: #4b453d;
  float: none;
  padding-top: 1%;
}

.elisabeth_pic img, .rikke_pic img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  float: none;
  right: 0;
  margin: 0;
}

#elisabeth_tekst, #rikke_tekst {
  height: 20%;
  padding-left: 2%;
  color: #4b453d;
  float: none;
  width: 20%;
  text-align: justify;
  padding-left: 7%;
}*/


  /* OmOs.html ends */

footer{
  height: 100%;
  float: none;
}

/*
@media screen and (max-width: 1023px) and (min-width: 768px)
{
  #katalogPic {
    height: auto;
    width: 100%;
    float: none;
    min-height: 980px;

  }

  #row1_3_5, #row_2_4_6 {
    width: 100%;
    float: none;
  }


  .pic_1_holder{
    float: none;
    width: 90%;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .pic_2_holder, .pic_3_holder, .pic_4_holder, .pic_5_holder, .pic_6_holder{
    float: none;
    width: 90%;
    padding-bottom: 5%;
  }

  .pic_1_holder img, .pic_2_holder img, .pic_3_holder img, .pic_4_holder img, .pic_5_holder img, .pic_6_holder img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    border: solid 3px #5e5e5b;
    min-height: 400px;
    margin-left: auto;
  	margin-right: auto;
  	display: block;
  }

  #pic_1_h3, #pic_2_h3, #pic_3_h3, #pic_4_h3, #pic_5_h3, #pic_6_h3 {
    text-align: center;
  }

  #pic_1_tekst, #pic_2_tekst, #pic_3_tekst, #pic_4_tekst, #pic_5_tekst, #pic_6_tekst {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }


}*/
